.LoginSignup {
  background-color: #fce3fe;
  padding: 100px;
  height: 80vh;
  width: 100%;
}

.LoginSignup_container {
  height: 650px;
  width: 580px;
  background-color: #fff;
  margin: auto;
  padding: 40px 60px;
  border-radius: 20px;
}

.LoginSignup_container h1 {
  margin: 20px 0px;
}

.LoginSignup_feilds {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
}
.LoginSignup_feilds input {
  height: 72px;
  width: 100%;
  padding: 20px;
  outline: none;
  border: 1px solid #c9c9c9;
  color: #5c5c5c;
  font-size: 20px;
}

.LoginSignup_container button {
  width: 460px;
  height: 52px;
  background-color: #ff4141;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
}


.LoginSignup_login {
font-weight: 500;
font-size: 18px;
margin-top: 50px;
color: #5c5c5c;
}

.LoginSignup_login span {
  color: #ff4141;
font-weight: 600;
}

.LoginSignup_agree {
display: flex;
align-items: center;
color: #5c5c5c;
gap: 20px;
font-weight: 500;
font-size: 18px;
margin-top: 25px;
}