.add_product {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 20px 30px;
  padding: 30px 50px;
  background: white;
  border-radius: 6px;
}

.addproduct_itemfeild {
  width: 100%;
  color: #7b7b7b;
  font-size: 16px;
}

.addproduct_itemfeild input {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #c3c3c3;
  color: #7b7b7b;
  border-radius: 3px;
  font-size: 14px;
}

.addproduct_price {
  display: flex;
  gap: 40px;
}
.add_product_selector {
    padding: 10px;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;
    color: #7b7b7b;
    font-size: 14px;
    height: 50px;
    width: 100px;
}

.addproduct_thumbnail_img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    margin: 10px 0px;
}

.addproduct_btn {
    background-color: #6079ff;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    width: 160px;
    margin-top: 20px;
    border-radius: 6px;
}

@media(max-width : 800px){
    .add_product {
        width: auto;
        margin: 20px;
        padding: 30px;
    }
}