.PopularItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  gap: 10px;
}

.PopularItem h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.PopularItem hr {
width: 200px;
height: 6px;
border-radius: 10px;
background-color: #252525;
}

.popular_item {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
